{% extends "agency/base.html" %}
{% load static comment_tags %}


{% block content_area %}

{% block content_title %}
<section class="hero">
  <div class="buttons is-pulled-right">
    <a class="button is-link is-primary" href="{% url 'branch-create' agency_pk=object.pk %}">Add Branch</a>
  </div>
</section>
<section class="hero is-small is-link">
  <div class="hero-body">
    <p class="title">{{ object.name }}</p>
    <p class="subtitle">{{ object.description }}</p>
  </div>
</section>
{% endblock content_title %}

{% block content %}

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img src="{{ MEDIA_URL }}{{ object.feature_image }}" alt="Image" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        {{ object.description }}
      </div>
      {% for branch in object.branch_set.all %}
      <span class="tag is-primary"><a href="{% url 'branch-detail' agency_pk=object.pk pk=branch.pk %}">{{ branch }}</a></span>
      {% endfor %}

    </div>
  </article>
</div>

<div class="box">
{% render_comments object request %}
</div>

{% endblock content %}

{% endblock content_area %}
