{% extends "agency/base.html" %}
{% load static %}


{% block content_area %}

{% block content_title %}
<h1 class="is-size-1">Agency List</h1>
<div class="buttons is-pulled-right">
  <a class="button is-link is-primary" href="{% url 'agency-create' %}">Add Agency</a>
</div>
{% endblock content_title %}

{% block content %}

<div class="list">
    {% for agency in object_list %}
    <div class="list-item box">
        <div class="list-item-image">
          <figure class="image is-64x64">
            <img class="is-rounded" src="{{ MEDIA_URL }}{{ agency.feature_image.thumbnail }}">
          </figure>
        </div>
    
        <div class="list-item-content">
          <div class="list-item-title"><a href="{% url 'agency-detail' pk=agency.pk %}">{{ agency.name }}</a></div>
          <div class="list-item-description">{{ agency.description }}</div>
          <div class="list-item-description">
            {% for branch in agency.branch_set.all %}
            <span class="tag is-primary"><a href="{% url 'branch-detail' agency_pk=agency.pk pk=branch.pk %}">{{ branch }}</a></span>
            {% endfor %}
          </div>
          
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

{% endblock content_area %}
